@import url('https://fonts.googleapis.com/css?family=Heebo:400,700,900');

$font :  'Heebo', sans-serif;
$black : #5f4ee4;
$blue : #0090ff;
$white: #ffffff;
$grey: #f5f3f3;
$red: crimson;
$green: #91ff26;
$spacer: 44px;
$navHeight : 100px;


// defaults
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: $white;
    height: 100vh;
    font-size: 14px;
    line-height: 1.25em;
    font-family: $font;
    color: $black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a {
    transition: all 260ms ease-in-out;
}

img {
    width: 100%;
    max-width: 100%;
}

h1 {
    font-size: 54px;
    line-height: 60px;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    @media screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 44px;
    }
}
h2 {
    font-size: 24px;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    font-weight: 400;
}
p {
    font-size: 12px;
    a {
        font-weight: 600;
        text-decoration: none;
        color: rgba($black, 0.25);
        &:hover {
            opacity: 1;
        }
    }
}

main {
    position: relative;
    z-index: 1;
    max-width: 900px;
    padding: $spacer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100vh;
    max-height: 100%;
 
    > div {
        width: 100%;
        text-align: center;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            pointer-events: none;
            user-select: none;
            li {
                width: 12.5%;
                padding: 1%;
                animation-name: bubble;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                &:nth-child(2) {
                    animation-duration: 4s;
                }
                &:nth-child(3) {
                    animation-duration: 3s;
                }
                &:nth-child(4) {
                    animation-duration: 5s;
                }
                &:nth-child(5) {
                    animation-duration: 3s;
                }
                &:nth-child(6) {
                    animation-duration: 8s;
                }
                &:nth-child(7) {
                    animation-duration: 5s;
                }
                &:nth-child(8) {
                    animation-duration: 6s;
                }
            }
        }
    }
}
.button {
    position: relative;
    z-index: 9999999;
    background: $black;
    color: $green;
    padding: $spacer/2;
    text-transform: uppercase;
    border-radius: 2px;
    text-decoration: none;
    font-size: 12px;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    display: inline-block;
    transition: all 260ms ease-in-out;
    &:nth-of-type(2) {
        display: none;
    }
    &:hover, &:active {
        background: $green;
        color: $black;
    }
}
.bg, .bg video {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    height: 100%;
    width: 100%;
    object-fit : cover;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
    display: block !important;
    transform: rotate(180deg);
}

.bg video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}


#flip:target {
    main div {
        .button:nth-of-type(1) {
            display: none;
        }
        .button:nth-of-type(2) {
            display: inline-block;
        }
    }
    .bg {
        transform: rotate(0deg);
    }
}


@keyframes float {
    0% {
        transform: translateY(20px);
        
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(20px);
        
    }
}
@keyframes bubble {
    0% {
        transform: translateY(100vh);
        
    }
    20% {
        
        transform: scale(0.5) translateY(20vh);
    }
    80% {
        transform: scale(1.4) translateY(-20vh);
        opacity: 0.25;
    }
    90% {
        transform: translateY(-50vh);
        
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}